
.d{
    padding: 20px;
margin: 20px;
background-color: burlywood;
border: 20px;
border: solid;

}
.m{
padding: 20px;
margin: 20px;
background-color: cadetblue;
border: 20px;
border: solid;

}
h1{
    text-align: center;
}
